@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Regular.ttf");
}

@layer base {
	html {
		font-family: Poppins, sans-serif;
		scroll-behavior: smooth;
	}

	/*
	body {
		@apply bg-[#f0f3f5] text-[#1a2431] tracking-wide;
	}
    */
	body {
		@apply tracking-wide;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}

	li {
		@apply cursor-pointer;
	}

	button {
		@apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff];
	}
}
