/* Import Tailwind base, components, and utilities */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-face declaration for custom font */
@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

/* Base layer for global styles */
@layer base {
	html {
		font-family: "Poppins", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		/* Add background and text colors if needed, uncomment the lines below */
		/* @apply bg-gray-100 text-gray-800; */
		@apply tracking-wide;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}

	li {
		@apply cursor-pointer;
	}

	button {
		@apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-blue-600 to-blue-400;
	}
}
